<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.ariadnethread.register.dao.mybatis.UserWechatRelateDao">
	
	<!-- 按微信号查询记录  -->
	<select id="searchByWechatUid"   resultMap="UserWechatRelateMap">
		select <include refid="columns"/> from user_wechat_relate where wechat_uid=#{0}
	</select>
	
	<!-- 按电话号码查询记录  -->
	<select id="searchByMobile"   resultMap="UserWechatRelateMap">
		select <include refid="columns"/> from user_wechat_relate where mobile=#{0}
	</select>
	
	<!-- 按电话号码、微信号查询记录  -->
	<select id="searchByMobileWechatUid"   resultMap="UserWechatRelateMap">
		select <include refid="columns"/> from user_wechat_relate where mobile=#{0} and wechat_uid=#{1}
	</select>
	
	<!-- 新增抠电影账号(手机号)与微信号关联表记录  -->
	<insert id="save" parameterType="UserWechatRelate" >
		insert into user_wechat_relate (
		<include refid="columns"/>)
		values (#{id},#{mobile},#{wechatUid},#{description},#{createTime})
	</insert>
	
  <!--结果映射-->
  <resultMap type="UserWechatRelate" id="UserWechatRelateMap">
    <id column="id" property="id"/>
    <result column="mobile" property="mobile"/>
    <result column="wechat_uid" property="wechatUid"/>
    <result column="description" property="description"/>
    <result column="create_time" property="createTime"/>
  </resultMap>
  
  <!--查询字段-->
  <sql id="columns"> id,mobile,wechat_uid,description,create_time </sql>
  
</mapper> 
