<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.ariadnethread.activity.receiveredenvelop.dao.mybatis.ConponRedEnvelopDao">
	 <!-- 查询一条记录 -->
	<select id="findById"  resultMap="ConponRedEnvelopMap">
		SELECT <include refid="columns"/>  FROM coupon_red_envelop where id=#{id}
	</select>
	
	<!-- 按用户userContentId查询记录列表  -->
	<select id="searchByUserContentId"  parameterType="map" resultMap="ConponRedEnvelopMap">
		SELECT <include refid="columns"/> FROM coupon_red_envelop where user_content_id=#{0} and activity_id=#{1}  and (status=#{2} or status=#{3}) and open_id!=#{4} order by status asc 
	</select>
	
	<!-- 按用户userContentId、status查询记录列表  -->
	<select id="searchByUserContentIdStatus"   parameterType="map" resultMap="ConponRedEnvelopMap">
		SELECT <include refid="columns"/> FROM coupon_red_envelop where user_content_id=#{0} and activity_id=#{1} and  status=#{2}
	</select>
	
	<!-- 按用户userContentId、sourceUserId查询记录列表  -->
	<select id="searchBySourceUserId"   parameterType="map" resultMap="ConponRedEnvelopMap">
		SELECT <include refid="columns"/> FROM coupon_red_envelop where user_content_id=#{0} and source_user_id=#{1}  and activity_id=#{2}
	</select>
	
	<!-- 按用户userContentId、openId查询记录列表  -->
	<select id="searchByWeixinOpenId"   parameterType="map" resultMap="ConponRedEnvelopMap">
		SELECT <include refid="columns"/> FROM coupon_red_envelop where user_content_id=#{0} and open_id=#{1}  and activity_id=#{2}
	</select>
	
	 <!-- 新增领红包记录  -->
	<insert id="save" parameterType="ConponRedEnvelop" >
		<selectKey resultType="long" keyProperty="id">
	      SELECT LAST_INSERT_ID()
      	</selectKey>
		insert into coupon_red_envelop (
		<include refid="columns"/>)
		values (#{id},#{userContentId},#{activityId},#{userName},#{redAmount},#{status},#{description},#{createTime},#{wechatUid},#{nickName},#{headImgUrl},#{sex},#{expireDate},#{sourceUserId},#{openId})
	</insert>
	
	 <!-- 统计领红包记录  -->
	 <select id="countByUserContentId" resultType="java.lang.Integer" >
		select count(id) FROM coupon_red_envelop where user_content_id=#{0}  and activity_id=#{1} and (status=#{2} or status=#{3})
	 </select>
	 
	 <!-- 统计发出红包记录  -->
	 <select id="countByDistribute" resultType="java.lang.Integer" >
		select count(id)-1 FROM coupon_red_envelop where user_content_id=#{0}  and activity_id=#{1}
	 </select>
	
	<!-- 修改领红包记录-->
	<update id="update" parameterType="ConponRedEnvelop">
	    UPDATE coupon_red_envelop 
	    <set>
	      <if test="userContentId != null">user_content_id = #{userContentId}, </if>
	      <if test="activityId != null">activity_id = #{activityId}, </if>
	      <if test="userName != null">user_name = #{userName}, </if>
	      <if test="redAmount != null">red_amount = #{redAmount}, </if>
	      <if test="status != null">status = #{status}, </if>
	      <if test="description != null">description = #{description}, </if>
	      <if test="createTime != null">create_time = #{createTime}, </if>
	      <if test="wechatUid != null">wechat_uid = #{wechatUid}, </if>
	      <if test="nickName != null">nick_name = #{nickName}, </if>
	      <if test="headImgUrl != null">head_img_url = #{headImgUrl}, </if>
	      <if test="sex != null">sex = #{sex}, </if>
	      <if test="expireDate != null">expire_date = #{expireDate}, </if>
	      <if test="sourceUserId != null">source_user_id = #{sourceUserId}, </if>
	      <if test="openId != null">open_id = #{openId}, </if>
	      <if test="isPay != null">is_pay = #{isPay}, </if>
	    </set>
	    WHERE id = #{id}
  </update>
  
  <!-- 修改领红包记录-->
	<update id="updatePayStatus" parameterType="ConponRedEnvelop">
	    UPDATE coupon_red_envelop set red_envelop_id=#{0} where id in(#{1})
	</update>
	
  <!--结果映射-->
  <resultMap type="ConponRedEnvelop" id="ConponRedEnvelopMap">
    <id column="id" property="id"/>
    <result column="user_content_id" property="userContentId"/>
    <result column="activity_id" property="activityId"/>
    <result column="user_name" property="userName"/>
    <result column="red_amount" property="redAmount"/>
    <result column="status" property="status"/>
    <result column="description" property="description"/>
    <result column="create_time" property="createTime"/>
    <result column="wechat_uid" property="wechatUid"/>
    <result column="nick_name" property="nickName"/>
    <result column="head_img_url" property="headImgUrl"/>
    <result column="sex" property="sex"/>
    <result column="expire_date" property="expireDate"/>
    <result column="source_user_id" property="sourceUserId"/>
    <result column="open_id" property="openId"/>
    <result column="is_pay" property="isPay"/>
  </resultMap>
  
  <!--查询字段-->
  <sql id="columns"> id,user_content_id,activity_id,user_name,red_amount,status,description,create_time,wechat_uid,nick_name,head_img_url,sex,expire_date,source_user_id,open_id,is_pay </sql>
  
</mapper> 
