<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.ariadnethread.coupon.dao.mybatis.CouponUserDao">

	<!-- 新增领红包与用户关系表  -->
	<insert id="save" parameterType="CouponUser" >
		insert into coupon_user (
		<include refid="columns"/>)
		values (#{id},#{couponId},#{userContentUid},#{activityId})
	</insert>
	
  <!--结果映射-->
  <resultMap type="CouponUser" id="CouponUserMap">
    <id column="id" property="id"/>
    <result column="coupon_id" property="couponId"/>
    <result column="user_content_uid" property="userContentUid"/>
    <result column="activity_id" property="activityId"/>
  </resultMap>
  
  <!--查询字段-->
  <sql id="columns"> `id`,`coupon_id`,`user_content_uid`,`activity_id` </sql>
  
</mapper> 
