<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 
		<property name="LOG_HOME" value="D:\\log" />
	 -->
	<!--  
	<property name="LOG_HOME" value="/data/project/log" />
	-->
	<property name="LOG_HOME" value="/data/project/movie_server/log" />
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 
		<file>${LOG_HOME}\\quickstart.log</file>
		 -->
		<file>${LOG_HOME}/quickstart.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 
			<fileNamePattern>${LOG_HOME}\\quickstart.%d{yyyy-MM-dd}.log</fileNamePattern>
			 -->
			<fileNamePattern>${LOG_HOME}/quickstart.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>myApp.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
	 -->
   <!-- 日志写入数据库
  <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>com.mysql.jdbc.Driver</driverClass>
      <url>jdbc:mysql://127.0.0.1:3306/test?characterEncoding=utf-8</url>
      <user>root</user>
      <password>root</password>
    </connectionSource>
  </appender>
   -->
	<!-- project default level -->
	<logger name="com.ariadnethread" level="INFO" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>
	
	<logger name="org.apache.ibatis" level="DEBUG"/>
	
	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
		<!-- 
		<appender-ref ref="FILE" />
		<appender-ref ref="DB" />
		 -->
	</root>
</configuration>